<div class="row" ng-show="{{event.HasCoordinates}}">
    <!--    <h4 style="text-align: center; margin-top: 5px; padding-bottom: 10px;">{{event.Title}}</h4>-->
    <div class="col-md-6">
        <ul class="list-inline">
            <li><span class="glyphicon glyphicon-alert "></span>
            </li>
            <li>
                <h3>{{event.EventType}}</h3>
            </li>
        </ul>
        <ul class="list-inline">
            <li><span class="glyphicon glyphicon-time "></span>
            </li>
            <li>
                <h3>{{event.Time}}</h3>
            </li>
        </ul>


        <p>{{event.Description}}</p>
    </div>

    <div class="col-md-6">
        <ul class="list-inline">
            <li><span class="glyphicon glyphicon-map-marker "></span>
            </li>
            <li>
                <h3><strong ng-repeat="searchword in event.CoordinateSearchWords">{{searchword}} </strong></h3>
            </li>
        </ul>

        <img ng-src="{{ctrl.formatUrl(event.Latitude, event.Longitude)}}" style="width:100%">
        <p>Geocoding Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">
        </p>


        <div ng-hide="{{ctrl.arraysEqual(event.CoordinateSearchWords, event.PossibleLocationWords)}}">
            <span class="glyphicon glyphicon-info-sign"></span> We searched for:
            <i ng-repeat="word in event.PossibleLocationWords"><strong>{{word}} </strong></i> but found no results.
        </div>



    </div>
</div>

<div class="row" ng-hide="{{event.HasCoordinates}}">
    <div class="col-md-8">
        <h4>{{event.Title}}</h4>
        <p>{{event.Description}}</p>
    </div>

    <div class="col-md-4">
        <p><i>Ingen platsinformation hittades</i>
        </p>
    </div>
</div>

<p></p><a href="{{event.Link}}" target="_blank"><span class="glyphicon glyphicon-link"></span> {{event.Link}}</a>




<!--
<ul class="list-inline">
    <li class="half-width">
        <h4>{{event.title}}</h4>
        <p><strong>{{event.time}}</strong>
        </p>
        <p><strong>{{event.location}}</strong>
        </p>
        <p>{{event.description}}</p>

    </li>

    <li class="half-width">

        <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=***REMOVED***&q=sweden+Bangatan+Örkelljunga">
        </iframe>

    </li>

    <a href="{{event.link}}">{{event.link}}</a>

</ul>-->