<!DOCTYPE html>

<html ng-app="myApp">

<head>

    <!-- Website Title & Description for Search Engine purposes -->
    <title>Poliskarta</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="includes/css/bootstrap.css" rel="stylesheet">
    <link href="includes/css/bootstrap.css.map" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="includes/css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="includes/js/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="includes/js/select.js"></script>




</head>

<body ng-controller="EventController as ctrl">

    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand greentext" href="#">POLISKARTAN</a>
    </nav>

    <div class="container" id="main">
        <div class="main-header">
            <div class="row">


                <div class="col-md-8">
                    <h1>Händelser i {{ctrl.selectedArea.name}}</h1>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline center">
                        <li><h4>Välj län:</h4>
                        </li>
                        <li>
                            <select ng-change="ctrl.getAllEvents()" ng-model="ctrl.selectedArea" ng-options="area as area.name for area in ctrl.areas.areas"></select>

                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="well scroller">

            <ul class="event-type-ul">
                <li class="event-types event-type-li" ng-repeat="type in ctrl.eventTypes | orderBy: '-count'" title="{{type.count}}">

                    <div ng-repeat="i in ctrl.getNumber(type.count) track by $index">

                        <div class="bar"></div>

                    </div>
                    {{type.eventType}}
                    <!--
                    
                    <p class="event-type-count">{{type.count}}</p>
                    <div class="vertical-wrapper">
                        <strong class="vertical-text">{{type.eventType}} </strong>
                    </div>
-->
                </li>

            </ul>

        </div>

        <div class="well" ng-repeat="event in ctrl.events.Events">
            <event></event>
        </div>



    </div>

</body>

</html>