<!DOCTYPE html>

<html ng-app="myApp">

<head>

    <!-- Website Title & Description for Search Engine purposes -->
    <title>Poliskarta</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="includes/css/bootstrap.css" rel="stylesheet">
    <link href="includes/css/bootstrap.css.map" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="includes/css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="includes/js/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>



</head>

<body ng-controller="EventController as ctrl">

    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand greentext" href="#">POLISKARTAN</a>
    </nav>

    <div class="container" id="main">
        <div class="main-header">
            <div class="row">

                <div class="col-md-8">
                    <h1>Händelser i {{ctrl.selected}}</h1>
                </div>
                <div class="col-md-2">
                    <h4>Välj län</h4>
                    <select ng-init="selected = 'skane'" ng-model="selected" ng-change="ctrl.getData(selected)">
                        <option value="stockholm">Stockholm</option>
                        <option value="skane">Skåne</option>
                        <option value="halland">Halland</option>
                        <option value="kronoberg">Kronoberg</option>
                        <option value="blekinge">Blekinge</option>
                        <option value="dalarna">Dalarna</option>
                        <option value="gotland">Gotland</option>
                        <option value="gavleborg">Gävleborg</option>
                        <option value="halland">Halland</option>
                        <option value="jamtland">Jamtland</option>
                        <option value="jonkoping">Jönkoping</option>
                        <option value="kalmar">Kalmar</option>
                        <option value="kronoberg">Kronoberg</option>
                        <option value="norrbotten">Norrbotten</option>
                        <option value="skane">Skåne</option>
                        <option value="stockholm">Stockholm</option>
                        <option value="sodermanland">Södermanland</option>
                        <option value="uppsala">Uppsala</option>
                        <option value="varmland">Värmland</option>
                        <option value="vasterbotten">Västerbotten</option>
                        <option value="vasternorrland">Västernorrland</option>
                        <option value="vastmanland">Västmanland</option>
                        <option value="vastragotaland">Västragötaland</option>
                        <option value="orebro">Örebro</option>
                        <option value="ostergotland">Östergötland</option>
                    </select>

                </div>
                <div class="col-md-2"></div>

            </div>
        </div>

        <div class="well" ng-repeat="event in ctrl.events.Events">
            <event></event>
        </div>



    </div>

</body>

</html>