<div class="row" id="event-header-row">
    <div class="col-md-12">
        <ul class="list-inline" id="event-header">
            <li><span class="glyphicon glyphicon-alert"></span>
            </li>
            <li>
                <h3>{{event.eventType}}</h3>
            </li>
            <li ng-repeat="searchword in event.location.searchWords">
                <h3>{{searchword}} </h3>
            </li>
        </ul>
    </div>

</div>
<div class="row" ng-show="{{event.location}}">
    <!--    <h4 style="text-align: center; margin-top: 5px; padding-bottom: 10px;">{{event.Title}}</h4>-->
    <div class="col-md-6">
        <ul class="list-inline">
            <li><span class="glyphicon glyphicon-time"></span>
            </li>
            <li>
                <h4>{{event.time}}</h4>
            </li>
        </ul>

        <p><strong>{{event.descriptionShort}}</strong>
        </p>
        <p>{{event.descriptionLong}}</p>
    </div>

    <div class="col-md-6">

        <img ng-src="{{ctrl.formatUrl(event.location.latitude, event.location.longitude)}}" style="width:100%">
        <p>Geocoding Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">
        </p>


        <div ng-hide="{{ctrl.arraysEqual(event.location.searchWords, event.location.words)}}">
            <span class="glyphicon glyphicon-info-sign"></span> We searched for:
            <i ng-repeat="word in event.location.words"><strong>{{word}} </strong></i> but found no results.
        </div>



    </div>
</div>

<div class="row" ng-hide="{{event.location.words.length > 0}}">
    <div class="col-md-8">

        <ul class="list-inline">
            <li><span class="glyphicon glyphicon-time"></span>
            </li>
            <li>
                <h4>{{event.time}}</h4>
            </li>
        </ul>

        <p><strong>{{event.descriptionShort}}</strong>
        </p>
        <p>{{event.descriptionLong}}</p>
    </div>

    <div class="col-md-4">
        <p><i>Ingen platsinformation hittades</i>
        </p>
    </div>
</div>

<p></p><a href="{{event.links[1].href}}" target="_blank"><span class="glyphicon glyphicon-link"></span> {{event.links[1].href}}</a>

