.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 4px;
    font-weight: 500;
}

.greentext {
    color: #528237 !important;
}

#main {
    max-width: 800px;
}

.half-width {
    width: 40%
}

.main-header {
    min-height: 20px;
    padding: 0px 19px 19px 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #CDCDCD;
    border-radius: 0px;
}

.main-header h1 {
    color: #528237;
}

body {
    background-color: #666;
}

.well {
    background-color: #f5f5f5;
    border: 1px solid #CDCDCD;
    border-radius: 0px;
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #EDEDED;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}