
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.greentext {
    color: #528237 !important;
}

#main {
    max-width: 800px;
}

.half-width {
    width: 40%
}

.main-header {
    min-height: 20px;
    padding: 0px 19px 19px 19px;
    margin-bottom: 20px;
    background-color: #EDEDED;
    border: 1px solid #CDCDCD;
    border-radius: 0px;
}

.main-header h1 {
    color: #528237;
}

.well {
    background-color: #EDEDED;
    border: 1px solid #CDCDCD;
    border-radius: 0px;
    margin-bottom: 10px;
}
.navbar-default {
    background-color: #CDCDCD;
    border-bottom: 1px solid #AAA;
    border-radius: 0px;
    
}
