.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 4px;
    font-weight: 500;
}

span.glyphicon-time {
    font-size: 1.4em;
}
span.glyphicon-alert {
    font-size: 1.4em;
}
span.glyphicon-map-marker {
    font-size: 1.4em;
}

.greentext {
    color: #528237 !important;
}

#main {
    max-width: 800px;
}

.half-width {
    width: 40%
}

.main-header {
    min-height: 20px;
    padding: 0px 19px 19px 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #CDCDCD;
    border-radius: 0px;
}



body {
    background-color: #666;
}

.well {
    background-color: #f5f5f5;
    border: 1px solid #CDCDCD;
    border-radius: 0px;
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #EDEDED;
    border: 0px;
    border-radius: 0px;
}
.list-inline li h3{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.search-info{
        padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}